body {
    box-sizing: border-box;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    color: #000;
    font-size: 10.5pt;
    -webkit-print-color-adjust: exact;
}
body {
    line-height: 1.65;
}

body > div > div.header.section > span.left code {
    font-weight: 300;
    background-color: transparent !important;
    display: inline;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    padding: 0;
    margin: 0;
    /*line-height: 1;*/
}

.intro {
    font-size: 14pt;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 40px
}
.header {
    /*position: sticky;*/
    background-color: white;
    top: 0px;
    line-height: 0;

    margin: 17.325pt 0 34.65pt;
}
.header .right {
    margin-top: 2px;
}

b, .date {
    font-weight: 400;
    font-style: italic;
    color: #000;
}

b {
    font-weight: 700;
    font-style: normal;
}
b.semi {
    font-weight: 700;
}


.section-heading {
    display: block;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}
.section-heading:first-letter {
    font-size: 16pt;
    line-height: 0;
}
.section {
    padding-top: 0px;
}
.section-line {
    display: none;
    margin-top: -0.25em;
    margin-bottom: 0.5em;
    border-top: 1px solid #777;
}

code {
    color: #9e0007 !important;
    padding: 0;
    font-family: "adobe-garamond-pro";
    font-weight: 400;
    background-color: transparent;
    font-size: 11pt;
}

.section-skills code {
    font-weight: 400;
    color: #000 !important;
}
.section-skills code:not(:last-child):after {
    content: ',';
}
code .code-comment {
    color: #999; !important;
    display: inline;
}

/* Work-around for some weird bug */
i[class^='ion-'] {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin-bottom: 0;
}

.major-section {
    margin-bottom: 34.65pt;
}
.minor-section {
    margin-bottom: 17.325pt;
}
ul {
    padding-left: 0;
    list-style-type: none;
}
ul ul {
    padding-left: 19px;
    list-style-type: circle;
    margin-bottom: 1.5em;
}

.left {

}
.right {
}

i {
    font-weight: 500;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 3fr;

    grid-column-gap: 0.8cm;
}

.second-page {
    display: none;
}

@media print {
    @page { margin: 0; }
    body { margin: 0cm  0.8cm; }
    a { color: #000 }
    .header {
        position: relative;
    }
    .second-page {
        display: grid;
    }
    .container {
        width: 100%;
        margin-bottom: 0;
    }
    code {
        color: #000 !important;
    }
}